<div class="m-8 p-8 bg-gray-200 rounded">

  <h3 class="text-4xl">Create New Team</h3>

  <div *ngIf="isValidFormSubmitted" class="submitted"> Form submitted successfully.</div>
  <div class="text-xl">
    <form fxLayout="column" fxLayoutGap="16px" [formGroup]="form" (ngSubmit)="onSubmit()">

      <div fxLayout="column">
        <mat-form-field>
          <mat-label>Team Name</mat-label>
          <input matInput formControlName="name">
          <mat-error class="font-thin text-lg" *ngIf="name.invalid && (name.dirty || name.touched)">
            Team name is required.
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="center">
        <div>Employees in Team:</div>
        <div formArrayName="employees">
          <div *ngFor="let employee of employees.controls; let i = index" [formGroupName]="i" fxLayout="row"
            fxLayoutGap="16px">

            <div fxLayoutAlign="center center" class="text-blue-700 text-xl font-semibold">
              <span class="mb-2">Employee: {{i + 1}}</span>
            </div>

            <mat-form-field>
              <mat-label>Employee Id</mat-label>
              <input matInput formControlName="id">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Employee Name</mat-label>
              <input matInput formControlName="name">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Skill</mat-label>
              <mat-select formControlName="skill">
                <mat-option *ngFor="let skill of allSkills | async" [value]="skill.name">
                  {{ skill.displayName }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <div fxLayoutAlign="center center">
              <button mat-flat-button color="accent" type="button" (click)="deleteEmployee(i)">Delete</button>
            </div>

          </div>
        </div>

        <div fxLayoutAlign="start center">
          <button mat-flat-button color="primary" type="button" (click)="addEmployee()">
            <span>Add More Employee</span>
          </button>
        </div>

      </div>

      <div fxLayout="row" fxLayoutGap="16px">
        <button mat-flat-button color="primary" class="bg-blue-400">SUBMIT</button>
        <button mat-flat-button color="primary" type="button" (click)="setEmployeeValues()">SET VALUE</button>
        <button mat-flat-button color="primary" type="button" (click)="patchEmployeeValues()">PATCH VALUE</button>
        <button mat-flat-button color="primary" type="button" (click)="resetTeamForm()">RESET</button>
      </div>

    </form>
  </div>
</div>
