<div class="control">
  <input class="border-2 rounded-xl border-blue-900 p-4 font-mono hover:rounded-xl" placeholder="Search..." [formControl]="control" [appAutocomplete]="autocomplete">
</div>

<p style="color: black; font-size: 18px; margin-bottom: 10px;">{{control.value}}</p>

<app-my-auto-complete #autocomplete="appAutocomplete">
  <ng-template appAutocompleteContent>
    <ng-container *ngIf="(options | filter: control.value) as result">
      <app-option *ngFor="let option of result" [value]="option.name">
        {{ option.name }}
      </app-option>
      <app-option class="no-result" *ngIf="!result.length">No result...</app-option>
    </ng-container>
  </ng-template>
</app-my-auto-complete>
